{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Measures</title>
    </head>
    <body>
    <img src="{% url "collect:get_data" %}" alt="plot"/>
{#    <h1>Measurements</h1>#}
{#    <div id="placeholder" style="width:600px;height:300px"></div>#}
{#    <script src="{% static "js/jquery.js" %}"></script>#}
{#    <script src="{% static "js/jquery.canvaswrapper.js" %}"></script>#}
{#    <script src="{% static "js/jquery.colorhelpers.js" %}"></script>#}
{#    <script src="{% static "js/jquery.flot.js" %}"></script>#}
{#    <script src="{% static "js/jquery.flot.uiConstants.js" %}"></script>#}
{#    <script src="{% static "js/jquery.flot.hover.js" %}"></script>#}
{#    <script src="{% static "js/jquery.flot.categories.js" %}"></script>#}
{#    <script src="{% static "js/jquery.flot.saturated.js" %}"></script>#}
{#    <script src="{% static "js/jquery.flot.threshold.js" %}"></script>#}
{#    <script src="{% static "js/jquery.flot.time.js" %}"></script>#}
{#    <script src="{% static "js/jquery.flot.resize.js" %}"></script>#}
{#    <script src="{% static "js/jquery.flot.browser.js" %}"></script>#}
{#    <script>#}
{#        "use strict";#}
{#        $(document).ready(function(){#}
{#            var options = {#}
{#                series: {#}
{#                    lines: { show: true },#}
{#                    points: { show: true }#}
{#                },#}
{#                xaxis: {#}
{#                    mode: "time",#}
{#                    timeformat: "%Y/%m/%d %H:%M",#}
{#                    timeBase: "seconds"#}
{#                }#}
{#            };#}
{#            $.get("{% url "collect:get_data" %}").done(data=>{#}
{#                if(data.result === "ok") {#}
{#                    $.plot($("#placeholder"), data.data, options);#}
{#                }#}
{#            }).fail(error=>{#}
{#                alert(error);#}
{#            });#}
{#        });#}
{#    </script>#}
    </body>
</html>
